<include file="Public/script"/>
<!--显示列表样式1 start
<style type="text/css">
  
</style>-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/inventorypurchase/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" style="margin-top:3px;">
        <!-- <div class="form-group">
        	<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$start_date}">
          		<input style="margin-left: 6px;" name="start_date" type="text" size="16" class="form-control date" placeholder="签约开始日期" value="{$start_date}" readonly>
                <span class="input-group-btn">
                  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
       	 	</div>

        	<div class="input-group input-group-sm date form_date" data-ymd="true" data-date="{$end_date}" >

          		<input    name="end_date" type="text" size="16" class="form-control date" placeholder="签约结束日期" value="{$end_date}" readonly>
                <span class="input-group-btn"  >
                  <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                  <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        	</div>
        </div> -->
        
        <div class="form-group">
          <div class="input-group input-group-sm">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
             	请选择采购组织：
            </label>
                <span class="input-group-btn">
               <select name="department_id" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全部</option>
                 <volist name="department_arr" id="vo">
					<option  value="{$vo.id}" <if condition="$vo.id eq $department_id">selected</if>>{$vo.name}</option>
				 </volist>
				 
               </select>
          </div>
         </div>
          
		 
		 <div class="form-group">
          <div class="input-group input-group-sm">
            <label style="margin-left: 3px;" class="col-xs-1 col-sm-1 control-label">
              	请选择供应商：
            </label>
                <span class="input-group-btn">
               <select name="supplier_id" style="width: 20px" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                 <option value=0 >全部</option>
                 <volist name="supplier_arr" id="vo">
					<option  value="{$vo.id}" <if condition="$vo.id eq $supplier_id">selected</if>>{$vo.name}</option>
				 </volist>
				 
               </select>
          </div>
         </div>
		  
		  
			<div class="form-group" style="margin-top:10px; margin-left:6px;">
				<div class="input-group input-group-sm pull-right">
				<input type="text" class="form-control" name="name" value="{$name}" placeholder="请输入标题">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
				</span>
				</div>
			</div>
            
            <div class="input-group input-group-sm pull-right" style="margin-top:10px; margin-left:8px;">
				<a class="btn btn-success btn-sm add" href="{$host_name}/inventorypurchase/add" title="新增采购" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增采购</a>
				<!-- <a id="exportheartlistlog" class="btn btn-success btn-sm add" href="{$host_url}/Dataexport/contract/proxysale?start_date={$start_date}&end_date={$end_date}&area_id={$area_id}&ctype={$ctype}&status={$status}&sign_user_id={$sign_user_id}&name={$name}" title="导出合同数据" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出合同数据</a> -->
          
			</div>
			
          
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent"  >
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <!-- <th class="table-checkbox">
              <input type="checkbox" data-check="all" data-parent=".table" />
            </th> -->
            <th>ID</th>
            <th>采购合同编号</th>
            <th>标题</th>
            <th>采购组织</th>
            <th>采购日期</th>
            
            <th>采购总数</th>
            <th>供应商</th>
            <th>采购状态</th>
            
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              
              <td data-title="合同ID">{$vlist.id}</td>
              <td data-title="采购合同编号">{$vlist.serial_number}</td>
              <td data-title="标题">{$vlist.name}</td>
              <td data-title="采购组织">{$vlist.department_name}</td>
              <td data-title="采购日期">{$vlist.purchase_date}</td>
              
              <td data-title="采购总数">{$vlist.amount}</td>
			  <td data-title="供应商">{$vlist.supplier_name}</td>
              <td data-title="供应商">{$vlist.status}</td>
              
             

              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  
                  <a data-tip="修改详情" title="采购-{$vlist.id}" target="dialog" data-placement="left" mask="true" rel="edit" href="{$host_name}/inventorypurchase/edit?id={$vlist.id}" class="btn btn-success btn-icon">

                    <i class="fa fa-tag"></i>
                  </a>
				  <a id="gotodetaillist" data-tip="采购明细" title="采购明细-{$vlist.id}" target="navTab" data-placement="left" mask="true" rel="inventorypurchase/detaillist" href="{$host_name}/inventorypurchase/detaillist?purchase_id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </div>
              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>

<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });


  $(function(){
    

    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })
</script>
