<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
    <form method="post" action="{$host_name}/hotelcontract/setboxcost" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input type="hidden" name="contract_id" value="{$contract_id}">
        <input type="hidden" name="hotel_id" value="{$hotel_id}">
        <input type="hidden" name="room_id" value="{$room_id}">
        <input type="hidden" name="box_id" value="{$box_id}">
        <input type="hidden" name="box_mac" value="{$box_mac}">
        <div class="pageFormContent modal-body">
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">选择模板：</label>
                <div class="col-xs-12 col-sm-10  form-inline">
                    <select name="template_id" class="form-control bs-select class-filter" data-live-search="true">
                        <option value=0>请选择付费模板</option>
                        <volist name="templates" id="info">
                            <option value="{$info.id}">{$info.name}</option>
                        </volist>
                    </select>

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>

    </form>
</div>