<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/datacenter/awardhoteldata/datalist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">
                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">月份：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$stat_date}" data-ymd="true">
                            <input name="stat_date" type="text" size="16" class="form-control date" placeholder="盘点日期" value="{$stat_date}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">城市：</div>
                        <div class="input-group">
                            <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="area" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">积分发放状态：</div>
                        <div class="input-group">
                            <select name="status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name=":C('ACTIVITY_AWARD_STATUS')" id="aasinfo">
                                    <option value="{$key}" <if condition="$key eq $status">selected</if> >{$aasinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">酒楼名称：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">
                        <a class="btn btn-success btn-sm add" href="{$host_url}/dataexport/awardhoteldata/datalist?area_id={$area_id}&stat_date={$stat_date}" title="导出" target="_blank" mask="true"><i class="fa fa-download"></i>导出</a>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:25px;">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>城市</th>
                        <th>酒楼ID</th>
                        <th>酒楼名称</th>
                        <th>BDM</th>
                        <th>BD</th>
                        <th>激励人姓名</th>
                        <th>激励人手机号</th>
                        <th>激励人身份证号</th>
                        <th>单瓶激励瓶数</th>
                        <th>单瓶激励积分</th>
                        <th>阶梯激励瓶数</th>
                        <th>阶梯激励积分</th>
                        <th>账期</th>
                        <th>超期欠款金额</th>
                        <th>积分发放状态</th>
                        <th>统计月份</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="城市">{$dinfo.area_name}</td>
                            <td data-title="酒楼ID">{$dinfo.hotel_id}</td>
                            <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
                            <td data-title="BDM">{$dinfo.bdm}</td>
                            <td data-title="BD">{$dinfo.bd}</td>
                            <td data-title="激励人姓名">{$dinfo.user_name}</td>
                            <td data-title="激励人手机号">{$dinfo.mobile}</td>
                            <td data-title="激励人身份证号">{$dinfo.idnumber}</td>
                            <td data-title="单瓶激励瓶数">{$dinfo.num}</td>
                            <td data-title="单瓶激励积分">{$dinfo.integral}</td>
                            <td data-title="阶梯激励瓶数">{$dinfo.step_num}</td>
                            <td data-title="阶梯激励积分">{$dinfo.step_integral}</td>
                            <td data-title="账期">{$dinfo.bill_day}</td>
                            <td data-title="超期欠款金额">{$dinfo.overdue_money}</td>
                            <td data-title="积分发放状态">{$dinfo.status_str}</td>
                            <td data-title="统计月份">{$dinfo.static_date}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <if condition="$dinfo.status eq 2 AND $dinfo.is_confirm eq 1">
                                    <a title="解冻积分" data-tip="解冻积分" target="dialog" mask="true" href="{$host_url}/datacenter/awardhoteldata/thawintegral?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    </if>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>