<include file="Public/script"/>
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/basicset/companybank" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="col-xs-12 col-sm-6 col-md-10">
          <div class="tools-group s2">
            <a class="btn btn-success btn-sm add" href="{$host_name}/basicset/companybankadd" title="新增" target="dialog" mask="true"><i class="fa fa-plus"></i><span>新增</span></a>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 pull-right">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="请输入公司名称">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>ID</th>
            <th>银行类别</th>
            <th>公司名称</th>
            <th>开户银行</th>
            <th>支行</th>
            <th>账户</th>
            <th>创建时间</th>
            
            
            
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="银行类别">{$dinfo.bank_type_str}</td>
              <td data-title="公司名称">{$dinfo.company_name}</td>
              <td data-title="开户银行">{$dinfo.bank_name}</td>
              <td data-title="支行">{$dinfo.bank_branch_name}</td>
              <td data-title="账户">{$dinfo.account_number}</td>
              <td data-title="创建时间">{$dinfo.add_time}</td>
              
              <!-- <td data-title="状态"><php> echo C('MANGER_STATUS')[$dinfo['status']];  </php></td> -->
              <!-- <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/basicset/companybankadd?id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
              </td> -->
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>