<div class="pageContent">
    <form method="post" action="{$host_name}/salepayment/addpayment" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="id" type="hidden" id="sale_payment_id" value="{$vinfo.id}"/>
        <div class="pageFormContent modal-body">
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">税率(%)：</label>
                <div class="col-xs-12 col-sm-10">
                    <input  name="tax_rate"  type="text" value="{$vinfo.tax_rate}"  minlength="1" maxlength="2" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">收款金额：</label>
                <div class="col-xs-12 col-sm-10">
                    <input  name="pay_money"  type="text" value="{$vinfo.pay_money}"  minlength="1" maxlength="50" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">收款时间：</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="input-group date form_datetime" data-date="{$vinfo.pay_time}" data-ymd="true">
                        <input name="pay_time" type="text" size="16" class="form-control date" placeholder="收款时间" value="{$vinfo.pay_time}">
                        <span class="input-group-btn">
								<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
								<button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
							</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">类型：</label>
                <div class="col-xs-12 col-sm-10">
                    <select name="type" id="sale_paytype" class="form-control bs-select" title="请选择">
                        <option value="1" <if condition="$vinfo.type eq 1">selected</if> >核销</option>
                        <option value="2" <if condition="$vinfo.type eq 2">selected</if> >团购</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="stock_hotel_id">
                <label class="col-xs-12 col-sm-2 control-label">选择酒楼：</label>
                <div class="col-xs-12 col-sm-10  form-inline">
                    <select name="hotel_id" id="choose_hotel_id" class="form-control bs-select class-filter" title="请选择酒楼" data-live-search="true">
                        <volist name="hotel_list" id="hinfo">
                            <option value="{$hinfo.id}" <if condition="$hinfo.id eq $vinfo['hotel_id']"> selected </if> >{$hinfo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>

<script>

    $('#sale_paytype').change(function() {
        if($(this).val()==1){
            $('#stock_hotel_id').show();
        }else{
            $('#stock_hotel_id').hide();
        }
    })
    $('#sale_paytype').trigger('change');

</script>