<div class="pageContent">
    <form method="post" action="{$host_name}/stock/addoutstock" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="id" type="hidden" value="{$vinfo.id}"/>
        <div class="pageFormContent modal-body">
            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">出库单号：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="serial_number" type="text" value="{$vinfo.serial_number}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">名称：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="name" type="text" value="{$vinfo.name}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    所属组织:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="department_id" class="form-control bs-select" title="请选择..." data-size="20" required>
                        <volist name="department_arr" id="dpinfo">
                            <option value="{$dpinfo.id}" <if condition="$dpinfo.id eq $vinfo['department_id']"> selected </if> > {$dpinfo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    出库人:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="department_user_id" class="form-control bs-select class-filter" data-live-search="true">
                        <volist name="departmentuser_arr" id="dpuinfo">
                            <option value="{$dpuinfo.id}" <if condition="$dpuinfo.id eq $vinfo['department_user_id']"> selected </if> > {$dpuinfo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">出库日期：</label>
                <div class="col-xs-12 col-sm-10">
                    <div class="input-group date form_datetime" data-date="{$vinfo.io_date}" data-ymd="true">
                        <input name="io_date" type="text" size="16" class="form-control date" placeholder="出库日期" value="{$vinfo.io_date}">
                        <span class="input-group-btn">
								<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
								<button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
							</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">出库总数：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="amount" type="text" value="{$vinfo.amount}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">总金额：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="total_fee" type="text" value="{$vinfo.total_fee}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    出库类型:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="io_type" id="stock_iotype" class="form-control bs-select" title="请选择..." data-size="20" required>
                        <volist name=":C('STOCK_OUT_TYPES')" id="sit">
                            <option value="{$key}" <if condition="$vinfo['io_type'] eq $key"> selected </if> > {$sit}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="stock_use_type">
                <label class="col-xs-12 col-sm-2 control-label">
                    商品用途:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="use_type" class="form-control bs-select" title="请选择..." data-size="20" >
                        <volist name=":C('STOCK_USE_TYPE')" id="sut">
                            <option value="{$key}" <if condition="$vinfo['use_type'] eq $key"> selected </if> > {$sut}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">
                    库房:
                </label>
                <div class="col-xs-12 col-sm-10">
                    <select name="area_id" class="form-control bs-select" title="请选择..." data-size="20" required>
                        <volist name="area_arr" id="areainfo">
                            <option value="{$areainfo.id}" <if condition="$areainfo.id eq $vinfo['area_id']"> selected </if> > {$areainfo.region_name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="stock_hotel_id">
                <label class="col-xs-12 col-sm-2 control-label">选择酒楼：</label>
                <div class="col-xs-12 col-sm-10  form-inline">
                    <select name="hotel_id" class="form-control bs-select class-filter" data-live-search="true">
                        <option value=0>请选择酒楼</option>
                        <volist name="hotel_list" id="hinfo">
                            <option value="{$hinfo.id}" <if condition="$hinfo.id eq $vinfo['hotel_id']"> selected </if> >{$hinfo.name}</option>
                        </volist>
                    </select>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>
<script>
    $('#stock_iotype').change(function() {
        if($(this).val()==22 || $(this).val()==23){
            $('#stock_hotel_id').show();
            $('#stock_use_type').show();
        }else{
            $('#stock_hotel_id').hide();
            $('#stock_use_type').hide();
        }
    })
    $('#stock_iotype').trigger('change');


</script>