<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/stock/idcodehistory" method="post">
        <input type="hidden" name="idcode" value="{$idcode}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">

                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>唯一识别码</th>
                        <th>酒楼名称</th>
                        <th>入/出库单号</th>
                        <th>商品名称</th>
                        <th>单位</th>
                        <th>状态</th>
                        <th>数据状态</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID">{$dinfo.id}</td>
                            <td data-title="唯一识别码">{$dinfo.idcode}</td>
                            <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
                            <td data-title="入/出库单号">{$dinfo.serial_number}</td>
                            <td data-title="商品名称">{$dinfo.goods_name}</td>
                            <td data-title="单位">{$dinfo.unit_name}</td>
                            <td data-title="状态">{$dinfo.type_str}</td>
                            <td data-title="数据状态">{$dinfo.dstatus_str}</td>
                            <td data-title="时间">{$dinfo.add_time}</td>

                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>