<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/stock/inlist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">库房城市：</div>
                        <div class="input-group">
                            <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="area" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">入库类型：</div>
                        <div class="input-group">
                            <select name="io_type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name=":C('STOCK_IN_TYPES')" id="citinfo">
                                    <option value="{$key}" <if condition="$key eq $io_type">selected</if> >{$citinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group input-group-sm">采购组织：</div>
                        <div class="input-group">
                            <select name="department_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="departments" id="dmtinfo">
                                    <option value="{$dmtinfo.id}" <if condition="$dmtinfo.id eq $department_id">selected</if> >{$dmtinfo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">供应商：</div>
                        <div class="input-group">
                            <select name="supplier_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="supplier_arr" id="spinfo">
                                    <option value="{$spinfo.id}" <if condition="$spinfo.id eq $supplier_id">selected</if> >{$spinfo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">名称：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" value="{$keyword}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">
                        <a class="btn btn-success btn-sm add" href="{$host_name}/stock/addinstock" title="新增入库" target="dialog" mask="true"><i class="fa fa-plus"></i>新增入库</a>
                        &nbsp;&nbsp;
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:25px;">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>入库单号</th>
                        <th>名称</th>
                        <th>库房</th>
                        <th>采购组织</th>
                        <th>采购人</th>
                        <th>采购日期</th>
                        <th>采购总数</th>
                        <th>实收总数</th>
                        <th>入库人</th>
                        <th>入库日期</th>
                        <th>供应商</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID"><a class="click-able-title">{$dinfo.id}</a></td>
                            <td data-title="入库单号"><a class="click-able-title">{$dinfo.serial_number}</a></td>
                            <td data-title="名称">{$dinfo.name}</td>
                            <td data-title="库房">{$dinfo.area}</td>
                            <td data-title="采购组织">{$dinfo.department}</td>
                            <td data-title="采购人">{$dinfo.purchase_department_username}</td>
                            <td data-title="采购日期">{$dinfo.purchase_date}</td>
                            <td data-title="采购总数">{$dinfo.purchase_amount}</td>
                            <td data-title="实收总数">{$dinfo.now_amount}</td>
                            <td data-title="入库人">{$dinfo.department_username}</td>
                            <td data-title="入库日期">{$dinfo.io_date}</td>
                            <td data-title="供应商">{$dinfo.supplier}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <a title="修改" data-tip="修改" target="dialog" mask="true" href="{$host_name}/stock/addinstock?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a title="入库商品列表" data-tip="{$dinfo.name}-入库商品列表" target="navTab" mask="true" rel="stock/instockgoodslist" href="{$host_name}/stock/instockgoodslist?stock_id={$dinfo.id}" class="btn btn-default btn-icon">
                                        <i class="fa fa-list"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>