<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/hotelcontract/datalist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">库房城市：</div>
                        <div class="input-group">
                            <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="area" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">入库类型：</div>
                        <div class="input-group">
                            <select name="io_type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name=":C('STOCK_IN_TYPES')" id="citinfo">
                                    <option value="{$key}" <if condition="$key eq $io_type">selected</if> >{$citinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group input-group-sm">采购组织：</div>
                        <div class="input-group">
                            <select name="department_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="departments" id="dmtinfo">
                                    <option value="{$dmtinfo.id}" <if condition="$dmtinfo.id eq $department_id">selected</if> >{$dmtinfo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">供应商：</div>
                        <div class="input-group">
                            <select name="supplier_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="supplier_arr" id="spinfo">
                                    <option value="{$spinfo.id}" <if condition="$spinfo.id eq $supplier_id">selected</if> >{$spinfo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">名称：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" value="{$keyword}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">
                        <a class="btn btn-success btn-sm add" href="{$host_name}/stock/addcontract" title="新增入库" target="dialog" mask="true"><i class="fa fa-plus"></i>新增入库</a>
                        &nbsp;&nbsp;
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:25px;">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>合同编号</th>
                        <th>合同名称</th>
                        <th>签约人</th>
                        <th>合同类型</th>
                        <th>签约时间</th>
                        <th>合同有效期</th>
                        <th>合作状态</th>
                        <th>关联酒楼</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID"><a class="click-able-title">{$dinfo.id}</a></td>
                            <td data-title="合同编号"><a class="click-able-title">{$dinfo.serial_number}</a></td>
                            <td data-title="合同名称">{$dinfo.name}</td>
                            <td data-title="签约人">{$dinfo.sign_user}</td>
                            <td data-title="合同类型">{$dinfo.self_type_str}</td>
                            <td data-title="签约时间">{$dinfo.sign_time}</td>
                            <td data-title="合同有效期">{$dinfo.expire_time}</td>
                            <td data-title="合作状态">{$dinfo.status_str}</td>
                            <td data-title="关联酒楼">
                                <a data-tip="关联酒楼" title="关联酒楼-合同编号{$dinfo.serial_number}" target="navTab" mask="true" rel="hotelcontract/relationhotel" href="{$host_name}/hotelcontract/relationhotel?id={$dinfo.id}&self_type={$dinfo.self_type}" class="btn btn-success btn-icon">
                                {$dinfo.hotel_num}
                                </a>
                            </td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <a title="修改" data-tip="修改" target="dialog" mask="true" href="{$host_name}/hotelcontract/addcontract?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <if condition="$dinfo.self_type eq 2">
                                    <a title="关联主合同" data-tip="关联主合同" target="dialog" mask="true" href="{$host_name}/hotelcontract/relationcontract?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-rebel"></i>
                                    </a>
                                    </if>
                                    <a title="合同记录" data-tip="合同{$dinfo.name}记录" target="navTab" mask="true" rel="hotelcontract/history" href="{$host_name}/hotelcontract/history?id={$dinfo.id}" class="btn btn-default btn-icon">
                                        <i class="fa fa-history"></i>
                                    </a>

                                    <if condition="$dinfo.oss_addr neq ''">
                                        <a title="合同文件" data-tip="合同文件" target="_blank" href="{$dinfo.oss_addr}" class="btn btn-danger btn-icon">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </a>
                                    <else />
                                        <a onclick="alertMsg.error('无合同文件')" href="#" class="btn btn-danger btn-icon" style="opacity:0.6"><span><i class="fa fa-file-pdf-o"></i></span></a>
                                    </if>

                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>