<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/stock/writeofflist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <input type="hidden" name="goods_id" value="{$goods_id}"/>
        <input type="hidden" name="unit_id" value="{$unit_id}"/>
        <input type="hidden" name="hotel_id" value="{$hotel_id}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">库房城市：</div>
                        <div class="input-group">
                            <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="area" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">状态：</div>
                        <div class="input-group">
                            <select name="wo_status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="all_wo_status" id="atinfo">
                                    <option value="{$key}" <if condition="$key eq $wo_status">selected</if> >{$atinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_time}" data-ymd="true">
                            <input name="start_time" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_time}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_time}" data-ymd="true">
                            <input name="end_time" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_time}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">酒楼名称：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">

                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>ID</th>
                        <th>酒楼ID</th>
                        <th>酒楼名称</th>
                        <th>唯一识别码</th>
                        <th>商品名称</th>
                        <th>商品编号</th>
                        <th>单位</th>
                        <th>核销原因</th>
                        <th>核销资料</th>
                        <th>状态</th>
                        <th>核销人</th>
                        <th>核销人手机号码</th>
                        <th>核销时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="ID">{$dinfo.id}</td>
                            <td data-title="酒楼ID">{$dinfo.hotel_id}</td>
                            <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
                            <td data-title="唯一识别码">{$dinfo.idcode}</td>
                            <td data-title="商品名称">{$dinfo.name}</td>
                            <td data-title="商品编号">{$dinfo.goods_id}</td>
                            <td data-title="单位">{$dinfo.unit_name}</td>
                            <td data-title="核销原因">{$dinfo.wo_reason_type_str}</td>
                            <td data-title="核销资料">
                                <volist name="dinfo.imgs" id="img">
                                <a href="{$img}" target="_blank"><img src="{$img}" ></a>
                            </volist>
                            </td>
                            <td data-title="状态">{$dinfo.wo_status_str}</td>
                            <td data-title="核销人">{$dinfo.username}</td>
                            <td data-title="核销人手机号码">{$dinfo.usermobile}</td>
                            <td data-title="核销时间">{$dinfo.add_time}</td>
                            <td class="table-tool" data-title="操作">
                                <if condition="$dinfo['wo_status'] eq 1">
                                    <a title="修改" data-tip="修改" target="dialog" mask="true" href="{$host_name}/stock/auditwriteoff?id={$dinfo.id}" class="btn btn-success btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                <else/>
                                    <a onclick="alertMsg.error('请勿重复进行审核')" href="#" class="btn btn-default btn-icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </if>

                                <if condition="($dinfo['wo_status'] eq 2) AND ($dinfo['recycle_status'] eq 1)">

                                    <if condition="$dinfo['recycle_status'] eq 1">
                                        <a title="审核回收状态" data-tip="审核回收状态" target="dialog" mask="true" href="{$host_name}/stock/auditrecycle?id={$dinfo.id}" class="btn btn-success btn-icon">
                                            <i class="fa fa-recycle"></i>
                                        </a>
                                        <else/>
                                        <a onclick="alertMsg.error('请勿重复进行回收')" href="#" class="btn btn-default btn-icon">
                                            <i class="fa fa-recycle"></i>
                                        </a>
                                    </if>


                                </if>

                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>