<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/activitypolicy/datalist" method="post">
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <div class="searchBar">

      <div class="clearfix">

        <div class="form-inline">
          <div class="form-group">
            <div class="input-group input-group-sm">活动类型：</div>
            <div class="input-group">
              <select name="aptype" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value='0'>全部</option>
                <volist name=":C('ACTIVITY_POLICY_TYPES')" id="apinfo">
                  <option value="{$key}" <if condition="$type eq $key">selected</if> >{$apinfo}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">政策类型：</div>
            <div class="input-group">
              <select name="aptype" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value='0'>全部</option>
                <volist name=":C('TEMPLATE_TYPES')" id="ttinfo">
                  <option value="{$key}" <if condition="$aptype eq $key">selected</if> >{$ttinfo}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">状态：</div>
            <div class="input-group">
              <select name="status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                <option value='0'>全部</option>
                <volist name=":C('TEMPLATE_STATUS')" id="tsinfo">
                  <option value="{$key}" <if condition="$status eq $key">selected</if> >{$tsinfo}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-btn">
                 <button class="btn btn-primary" type="submit">查询</button>
                </span>
            </div>
          </div>

          <div class="input-group input-group-sm pull-right">
            <a class="btn btn-success btn-sm add" href="{$host_name}/activitypolicy/policyadd?type=1" title="新增单瓶激励" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增单瓶激励</a>
            <a class="btn btn-success btn-sm add" href="{$host_name}/activitypolicy/policyadd?type=2" title="新增阶梯激励" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增阶梯激励</a>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>

          <tr id="post">
            <th>ID</th>
            <th>名称</th>
            <th>活动类型</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>政策类型</th>
            <th>使用酒楼</th>
            <th>商品数</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="data" id="dinfo">
            <tr target="sid_user">
              <td data-title="ID">{$dinfo.id}</td>
              <td data-title="名称">{$dinfo.name}</td>
              <td data-title="活动类型">{$dinfo.type_str}</td>
              <td data-title="创建人">{$dinfo.sys_username}</td>
              <td data-title="创建时间">{$dinfo.add_time}</td>
              <td data-title="政策类型">{$dinfo.aptype_str}</td>
              <td data-title="使用酒楼">
                <if condition="$dinfo.hotel_num gt 0">
                  <a class="btn btn-success " title="酒楼数:{$dinfo.hotel_num}" target="navTab" mask="true" rel="activitypolicy/hotellist" href="{$host_name}/activitypolicy/hotellist?policy_id={$dinfo.id}" >
                    {$dinfo.hotel_num}</a>
                  <else/>
                  {$dinfo.hotel_num}
                </if>
              </td>
              <td data-title="商品数">
                <if condition="$dinfo.goods_num gt 0">
                  <a class="btn btn-success " title="商品数:{$dinfo.goods_num}" target="navTab" mask="true" rel="activitypolicy/goodslist" href="{$host_name}/activitypolicy/goodslist?policy_id={$dinfo.id}" >
                    {$dinfo.goods_num}</a>
                  <else/>
                  {$dinfo.goods_num}
                </if>
              </td>
              <td data-title="状态">{$dinfo.status_str}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/activitypolicy/policyadd?id={$dinfo.id}&type={$dinfo.type}" class="btn btn-success btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>

                  <if condition="$dinfo.aptype eq 2">
                  <a title="发布酒楼" data-tip="发布酒楼" target="dialog" mask="true" href="{$host_name}/activitypolicy/hoteladd?policy_id={$dinfo.id}" class="btn btn-warning btn-icon">
                    <i class="fa fa-hotel"></i>
                  </a>
                  <else />
                  <a onclick="alertMsg.error('通用政策无需发布酒楼')" href="#" class="btn btn-warning btn-icon" style="opacity:0.6"><span><i class="fa fa-hotel"></i></span></a>
                  </if>

                  <a title="商品列表" target="navTab" mask="true" rel="activitypolicy/goodslist" href="{$host_name}/activitypolicy/goodslist?policy_id={$dinfo.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-list"></i>
                  </a>

                </div>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>