<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/saleissue/index" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <input type="hidden" name="goods_id" value="{$goods_id}"/>
        <input type="hidden" name="unit_id" value="{$unit_id}"/>
        <input type="hidden" name="hotel_id" value="{$hotel_id}"/>
        <div class="searchBar">
            <div class="clearfix">

                <div class="form-inline">

                    <div class="form-group">
                        <div class="input-group input-group-sm">时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                            <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                            <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">收款类型：</div>
                        <div class="input-group">
                            <select name="ptype" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=99 >全部</option>
                                <volist name="all_ptype" id="apinfo">
                                    <option value="{$key}" <if condition="$ptype eq $key">selected</if> >{$apinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">售卖类型：</div>
                        <div class="input-group">
                            <select name="type" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0 >全部</option>
                                <volist name="all_types" id="atinfo">
                                    <option value="{$key}" <if condition="$type eq $key">selected</if> >{$atinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">唯一识别码：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="idcode" value="{$idcode}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">
<!--                        <a class="btn btn-success btn-sm add" href="{$host_url}/dataexport/saleissue/exportjdidcode?type={$type}&start_date={$start_date}&end_date={$end_date}" title="导出金蝶1" target="_blank" mask="true"><i class="fa fa-download"></i>导出金蝶1</a>-->
<!--                        <a class="btn btn-success btn-sm add" href="{$host_url}/dataexport/saleissue/exportjdsale?type={$type}&start_date={$start_date}&end_date={$end_date}" title="导出金蝶2" target="_blank" mask="true"><i class="fa fa-download"></i>导出金蝶2</a>-->
<!--                        <a class="btn btn-success btn-sm add" href="{$host_name}/saleissue/jddataimport" title="导入金蝶数据" target="dialog" mask="true"><i class="fa fa-upload"></i> 导入金蝶数据</a>-->
                        <a class="btn btn-success btn-sm add" href="{$host_name}/saleissue/add" title="新增出库单" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增出库单</a>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent">
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <th>ID</th>
            <th>售卖类型</th>
            <th>商品名称</th>
            <th>唯一识别码</th>
            <th>结算价</th>
            <th>售酒餐厅</th>
            <th>餐厅ID</th>
            <th>收款类型</th>
            <th>收款状态</th>
            <th>核销状态</th>
            <th>添加日期</th>
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              <td data-title="合同ID">{$vlist.id}</td>
              <td data-title="售卖类型">{$vlist.type_str}</td>
              <td data-title="商品名称">{$vlist.goods_name}</td>
              <td data-title="唯一识别码">{$vlist.idcode}</td>
              <td data-title="结算价">{$vlist.settlement_price}</td>
              <td data-title="售酒餐厅">{$vlist.hotel_name}</td>
              <td data-title="餐厅ID">{$vlist.hotel_id}</td>
              <td data-title="收款类型">{$vlist.pay_type_str}</td>
              <td data-title="收款状态">{$vlist.status_str}</td>
              <td data-title="核销状态">{$vlist.wo_status_str}</td>
              <td data-title="采购日期">{$vlist.add_time}</td>
              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  
                  <a data-tip="修改详情" title="销售出库单-{$vlist.id}" target="dialog" data-placement="left" mask="true" rel="edit" href="{$host_name}/saleissue/edit?id={$vlist.id}" class="btn btn-success btn-icon">
                    <i class="fa fa-tag"></i>
                  </a>
				  
                </div>
              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>
