<include file="Public/script"/>
<!--显示列表样式1 start
<style type="text/css">
  
</style>-->
<div class="pageHeader">
  <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_name}/saleissue/index" method="post" >
    <input type="hidden" name="pageNum" value="{$pageNum}"/>
    <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_order}"/>
    <input type="hidden" name="_sort" value="{$_sort}"/>
    <div class="searchBar">
      <div class="clearfix">
        <div class="form-inline" style="margin-top:3px;">
        
        
        
          
		 
		 
		  
			<!-- <div class="form-group" style="margin-top:10px; margin-left:6px;">
				<div class="input-group input-group-sm pull-right">
				<input type="text" class="form-control" name="name" value="{$name}" placeholder="请输入标题">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit" id="choosedata"><i class="fa fa-search"></i></button>
				</span>
				</div>
			</div> -->
            
            <div class="input-group input-group-sm pull-right" style="margin-top:10px; margin-left:8px;">
				<a class="btn btn-success btn-sm add" href="{$host_name}/saleissue/add" title="新增出库单" target="dialog" mask="true"><i class="fa fa-plus"></i> 新增出库单</a>
				<!-- <a id="exportheartlistlog" class="btn btn-success btn-sm add" href="{$host_url}/Dataexport/contract/proxysale?start_date={$start_date}&end_date={$end_date}&area_id={$area_id}&ctype={$ctype}&status={$status}&sign_user_id={$sign_user_id}&name={$name}" title="导出合同数据" target="_blank" mask="true"><i class="fa fa-plus"></i> 导出合同数据</a> -->
          
			</div>
			
          
        </div>
      </div>
    </div>
  </form>
</div>
<div class="pageContent" id="pagecontent"  >
  <div id="w_list_print">
    <div class="no-more-tables">
      <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
          <thead>
          <tr id="post">
            <!-- <th class="table-checkbox">
              <input type="checkbox" data-check="all" data-parent=".table" />
            </th> -->
            <th>ID</th>
            <th>售卖类型</th>
            <th>商品名称</th>
            <th>唯一识别码</th>
            <th>售酒餐厅</th>
            <th>添加日期</th>
            
            <th class="table-tool">操作</th>
          </tr>
          </thead>
          <tbody data-check="list" data-parent=".table">
          <volist name="list" id="vlist">
            <tr target="sid_user">
              
              <td data-title="合同ID">{$vlist.id}</td>
              <td data-title="售卖类型">{$vlist.type}</td>
              <td data-title="商品名称">{$vlist.goods_name}</td>
              <td data-title="标题">{$vlist.idcode}</td>
              <td data-title="售酒餐厅">{$vlist.hotel_name}</td>
              <td data-title="采购日期">{$vlist.add_time}</td>
              
              
              
             

              <td class="table-tool" data-title="操作">
                <div class="tools-edit">
                  
                  <a data-tip="修改详情" title="销售出库单-{$vlist.id}" target="dialog" data-placement="left" mask="true" rel="edit" href="{$host_name}/saleissue/edit?id={$vlist.id}" class="btn btn-success btn-icon">

                    <i class="fa fa-tag"></i>
                  </a>
				  
                </div>
              </td>

            </tr>
          </volist>
          </tbody>
        </table>
      </form>

    </div>
  </div>
  {$page}
</div>

<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });


  $(function(){
    

    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })
</script>
