<include file="Public/script"/>
<!--显示列表样式1 start-->
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" id="pagerForm" action="{$host_url}/stockopenreward/datalist" method="post">
        <input type="hidden" name="pageNum" value="{$pageNum}"/>
        <input type="hidden" name="numPerPage" value="{$numPerPage}"/>
        <div class="searchBar">
            <div class="clearfix">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group input-group-sm">时间：</div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$start_date}" data-ymd="true">
                            <input name="start_date" type="text" size="16" class="form-control date" placeholder="开始日期" value="{$start_date}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="input-group input-group-sm date form_datetime" data-pos="auto" data-date="{$end_date}" data-ymd="true">
                            <input name="end_date" type="text" size="16" class="form-control date" placeholder="结束日期" value="{$end_date}">
                            <span class="input-group-btn">
                                <button class="btn default date-reset  btn-sm" type="button"><i class="fa fa-times"></i></button>
                                <button class="btn btn-success date-set  btn-sm" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">城市：</div>
                        <div class="input-group">
                            <select name="area_id" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="area" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo.id eq $area_id">selected</if>>{$vo.region_name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-sm">审核状态：</div>
                        <div class="input-group">
                            <select name="recycle_status" class="form-control bs-select class-filter" data-style="btn-success btn-sm" data-container="body">
                                <option value=0>全部</option>
                                <volist name="all_recycle_status" id="arinfo">
                                    <option value="{$key}" <if condition="$key eq $recycle_status">selected</if> >{$arinfo}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit" id="choosedata">查询</button>
                            </span>
                        </div>
                    </div>

                    <div class="input-group input-group-sm pull-right">
                        <a class="btn btn-success btn-sm add" href="{$host_url}/dataexport/stockopenreward/datalist?start_date={$start_date}&end_date={$end_date}&area_id={$area_id}&recycle_status={$recycle_status}" title="导出" target="_blank" mask="true"><i class="fa fa-download"></i>导出</a>

                        <a class="btn btn-success btn-sm add" href="{$host_name}/stockopenreward/dataimport" title="导入审核数据" target="dialog" mask="true"><i class="fa fa-upload"></i> 导入审核数据</a>
                    </div>
                </div>

                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group input-group-sm">商品名称：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="goods_name" value="{$goods_name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">酒楼名称：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="hotel_name" value="{$hotel_name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">唯一识别码：</div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="idcode" value="{$idcode}">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<div class="pageContent" id="pagecontent" style="margin-top:30px;">
    <div id="w_list_print">
        <div class="no-more-tables">
            <form method="post" action="#" id="del-form" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
                <table class="table table-bordered table-striped" targetType="navTab" asc="asc" desc="desc">
                    <thead>
                    <tr id="post">
                        <th>核销ID</th>
                        <th>唯一码</th>
                        <th>物流码</th>
                        <th>酒楼名称</th>
                        <th>城市</th>
                        <th>商品名称</th>
                        <th>出库时间</th>
                        <th>驻店人</th>
                        <th>核销人</th>
                        <th>物料图片</th>
                        <th>审核状态</th>
                        <th>审核不通过原因</th>
                        <th>核销时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody data-check="list" data-parent=".table">
                    <foreach name="datalist" item="dinfo">
                        <tr target="sid_user">
                            <td data-title="核销ID">{$dinfo.id}</td>
                            <td data-title="唯一码">{$dinfo.idcode}</td>
                            <td data-title="物流码">{$dinfo.vintner_code}</td>
                            <td data-title="酒楼名称">{$dinfo.hotel_name}</td>
                            <td data-title="城市">{$dinfo.area_name}</td>
                            <td data-title="商品名称">{$dinfo.goods_name}</td>
                            <td data-title="出库时间">{$dinfo.out_time}</td>
                            <td data-title="驻店人">{$dinfo.residenter_name}</td>
                            <td data-title="核销人">{$dinfo.username}</td>
                            <td data-title="物料图片">
                                <volist name="dinfo.recycle_img_arr" id="img">
                                    <a href="{$img}" target="_blank"><img src="{$img}" ></a>
                                </volist>
                            </td>
                            <td data-title="审核状态">{$dinfo.recycle_status_str}</td>
                            <td data-title="审核不通过原因">{$dinfo.reason}</td>
                            <td data-title="核销时间">{$dinfo.add_time}</td>
                            <td class="table-tool" data-title="操作">
                                <div class="tools-edit">
                                    <if condition="($dinfo.recycle_status eq 5) OR ($dinfo.recycle_status eq 3)">
                                        <a warn="重置" data-tip="重置" title="你确定要重置【{$dinfo.idcode}】状态吗？" target="ajaxTodo" calback="navTabAjaxDone" href="{$host_name}/stockopenreward/resetrecyclestatus?stock_record_id={$dinfo.id}"  class="btn btn-danger btn-icon">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </if>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
    {$page}
</div>