<div class="pageContent">
    <form method="post" action="{$host_name}/stockopenreward/editrecycle" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
        <input name="stock_record_id" id="stock_record_id" type="hidden" value="{$vinfo.id}"/>
        <div class="pageFormContent modal-body">

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">唯一识别码：</label>
                <div class="col-xs-12 col-sm-10">
                    <input type="text" value="{$vinfo.idcode}" class="form-control" readonly/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-12 col-sm-2 control-label">开瓶奖励积分：</label>
                <div class="col-xs-12 col-sm-10">
                    <input name="total_integral" type="text" value="{$total_integral}" class="form-control" required/>
                </div>
            </div>


            <foreach name="recycle_imgs" item="dinfo" >
                <div class="form-group row" >
                    <label class="col-xs-12 col-sm-2 control-label">
                        物料图{$dinfo.id}：
                    </label>
                    <div class="col-xs-12 col-sm-10">
                        <div class="fileinput fileinput-new" data-fileinput>
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                                <a data-target="#modal-file" href="javascript:void(0)">
                                    <if condition="($dinfo['oss_addr'] eq 'NULL') OR $dinfo['oss_addr'] eq ''">
                                        <img id="{$dinfo.imgid}img" src="/Public/admin/assets/img/noimage.png" border="0" />
                                        <else />
                                        <img id="{$dinfo.imgid}img" src="{$dinfo.oss_addr}" border="0" />
                                    </if>
                                    <span id="{$dinfo.imgid}imgname"></span>
                                </a>
                            </div>
                            <span class="help-block" id="img-msg">请上传750x420像素的jpg格式图片，展示效果最佳</span>
                            <div>
                                <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed={$dinfo.imgid}&rtype=2" data-browse-file>
                                    选择图片
                                </a>
                                <input type="hidden" name="recyclemedia_id[{$dinfo.id}]" id="{$dinfo.imgid}" value="{$dinfo.media_id}" >
                                <a href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </foreach>

            <notempty name="winecode">
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 control-label">
                        开瓶奖励审核状态:
                    </label>
                    <div class="col-xs-12 col-sm-10">
                        <select name="recycle_status" class="form-control bs-select" data-size="20" >
                            <option value="2">审核通过</option>
                            <option value="6">审核不通过</option>
                        </select>
                    </div>
                </div>
            </notempty>


        </div>
        <div class="modal-footer">
            <button class="btn btn-default close-m" type="button">取消</button>
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>