<include file="Public/script"/>
<div class="pageContent" style="height:100%;overflow: auto;background-color: #EEEEEE;">
  
    <input type="hidden" name="id" value="{$vinfo.id}">
    <div class="pageFormContent modal-body">
      <div class="tabsContent">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#etab1" data-toggle="tab"><span>基本信息</span></a></li>
          <li class=""><a href="#etab2" data-toggle="tab"><span>企业基本信息</span></a></li>
		  <li class=""><a href="#etab3" data-toggle="tab"><span>投放信息</span></a></li>
		  <li class=""><a href="#etab4" data-toggle="tab"><span>结算信息</span></a></li>
		  <li class=""><a href="#etab5" data-toggle="tab"><span>发票信息</span></a></li>
		  <a data-tip="修改" target="dialog" mask="true" href="{$host_name}/adsale/edit?id={$vinfo.contract_id}" class="btn btn-success btn-icon" style="margin-top:6px;">
			<i class="fa fa-pencil"></i>
		  </a>
        </ul>
        <div class="tab-content">
          <div id="etab1" class="tab-pane active fade in">
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	合同编号：
              </label>
              <div class="col-xs-2 col-sm-2">
                
                <input name="serial_number" type="text" value="{$vinfo.serial_number}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	合同名称：
              </label>
              <div class="col-xs-2 col-sm-2">
                
                <input name="name" type="text" value="{$vinfo.name}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	签约公司：
              </label>
              <div class="col-xs-2 col-sm-5">
                <select id="company_id" name="company_id" class="form-control bs-select" title="请选择签约公司" disabled >
                  <volist name="contract_company_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['company_id']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
              
              
            </div>
            
            <div class="form-group row">
			  <label class="col-xs-2 col-sm-1 control-label">
                	签约部门：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="sign_department" type="text" value="{$vinfo.sign_department}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	签约人：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="sign_user_id" name="sign_user_id" class="form-control bs-select" title="请选择签约人" disabled >
                  <volist name="sign_user_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['sign_user_id']">selected</if>> {$vo.uname}</option>
                  </volist>
                </select>
              </div>
              
              <label class="col-xs-2 col-sm-1 control-label">
                	签约城市：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="area_id" name="area_id" class="form-control bs-select" title="请选择签约城市" disabled >
                  <volist name="city_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['area_id']">selected</if>> {$vo.region_name}</option>
                  </volist>
                </select>
                
              </div>
			  
			  <label class="col-xs-2 col-sm-1 control-label">
                	合同类型：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="ctype" name="ctype" class="form-control bs-select" title="请选择合同类型" disabled >
                  <volist name="contract_ctype_arr" id="vo">
                    <!--<option value="{$vo.id}" data-content='<span class="lvl">{$vo.html}</span> {$vo.shw_title}'<if condition="$vo.id eq $vinfo['shw_cid']">selected</if>> {$vo.shw_title}</option>-->
					<option value="{$vo.id}" <if condition="$vo.id eq $vinfo['ctype']">selected</if>> {$vo.name}</option>
				  </volist>
                </select>
                
              </div>
              
            </div>
            <div class="form-group row">
				<label class="col-xs-2 col-sm-1 control-label">
                	金额：
				</label>
				<div class="col-xs-2 col-sm-2">
					<input name="contract_money" type="text" value="{$vinfo.contract_money}"  minlength="1" maxlength="100" class="form-control" disabled />
				</div>
			</div>
            
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                签署日期：
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-ymd="true" data-date="{$vinfo.sign_time}">
                  <input name="sign_time" type="text" size="16" class="form-control date" placeholder="签署日期" value="{$vinfo.sign_time}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
              
              <label class="col-xs-2 col-sm-1 control-label">
                归档日期：
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-date="{$vinfo.archive_time}">
                  <input name="archive_time" type="text" size="16" class="form-control date" placeholder="归档日期" value="{$vinfo.archive_time}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
               上刊日期：
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-date="{$vinfo.contract_stime}">
                  <input name="contract_stime" type="text" size="16" class="form-control date" placeholder="上刊开始日期" value="{$vinfo.contract_stime}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
               
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-date="{$vinfo.contract_etime}">
                  <input name="contract_etime" type="text" size="16" class="form-control date" placeholder="上刊结束日期" value="{$vinfo.contract_etime}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	合同签约人：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="hotel_signer" type="text" value="{$vinfo.hotel_signer}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	电话1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="hotel_signer_phone1" type="text" value="{$vinfo.hotel_signer_phone1}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
              
              <label class="col-xs-2 col-sm-1 control-label">
                	电话2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="hotel_signer_phone2" type="text" value="{$vinfo.hotel_signer_phone2}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
              
            </div>

			<div class="form-group row" id="defaultpic">
			  <label class="col-xs-12 col-sm-2 control-label">
			   上传文件：
			  </label>
			  <div class="col-xs-12 col-sm-10">
			   <php >if(empty($vinfo['oss_addr'])){</php>
			    <div class="col-xs-2 col-sm-2">
				<span class="form-control" disabled>无合同文件</span>
				</div>
			   <php>}else {</php>
			   <div class="col-xs-2 col-sm-2">
			    <span class="form-control" disabled><a href="http://{$oss_host}/{$vinfo.oss_addr}" target="_blank" >预览合同文件</a></span>
			   </div>
			   <php>}</php>
			  </div>
			 </div>
			 
			
			<div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	变更内容：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="change_content" type="text" value="{$vinfo.change_content}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  
			  <label class="col-xs-2 col-sm-1 control-label">
                	备注：
              </label>
              <div class="col-xs-2 col-sm-6">
                <textarea name="desc" type="textInput" class="form-control" disabled>{$vinfo.desc}</textarea>
              </div>
            </div>
			
			
            
          </div>
          <div id="etab2" class="tab-pane fade">
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	公司名称：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="company_name" type="text" value="{$vinfo.company_name}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	公司简称：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="company_short_name" type="text" value="{$vinfo.company_short_name}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	所属城市：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="company_area_id" name="company_area_id" class="form-control bs-select" title="请选择所属城市" disabled >
                  <volist name="city_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['company_area_id']">selected</if>> {$vo.region_name}</option>
                  </volist>
                </select>
              </div>
            </div>
			<div class="form-group row">
              <label class="col-xs-12 col-sm-1 control-label">
                	注册地址：
              </label>
              <div class="col-xs-12 col-sm-10">
                <input name="address" type="text" value="{$vinfo.address}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  
            </div>
			<div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	企业性质：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="company_property" name="company_property" class="form-control bs-select" title="请选择企业性质" disabled>
                  <volist name="company_property_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['company_property']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	发票类型：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="invoice_type" name="invoice_type" class="form-control bs-select" title="请选择发票类型" disabled>
                  <volist name="invoice_type_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['invoice_type']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	税率(%)：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="rate"  type="text" value="{$vinfo.rate}"  minlength="1" maxlength="5" class="form-control" disabled />
				
              </div>
            </div>
			<div class="form-group row">
              
			  <label class="col-xs-2 col-sm-1 control-label">
                	开户名称：
              </label>
              <div class="col-xs-2 col-sm-8">
                <input  name="account_name"  type="text" value="{$vinfo.account_name}"  minlength="2" maxlength="100" class="form-control" disabled />
				
              </div>
			  
            </div>
			<div class="form-group row">
              
			  <label class="col-xs-2 col-sm-1 control-label">
                	开户行名称：
              </label>
              <div class="col-xs-12 col-sm-8">
                <input  name="bank_name"  type="text" value="{$vinfo.bank_name}"  minlength="2" maxlength="100" class="form-control" disabled />
				
              </div>
			  
            </div>
			<div class="form-group row">
			  <label class="col-xs-2 col-sm-1 control-label">
                	账号：
              </label>
              <div class="col-xs-2 col-sm-8">
                <input  name="bank_account"  type="text" value="{$vinfo.bank_account}"  minlength="2" maxlength="100" class="form-control" disabled />
				
              </div>
            </div>
			
			<div class="form-group row">
			  <label class="col-xs-1 col-sm-1 control-label">
                	联系人1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact1"  type="text" value="{$vinfo.contact1}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone1"  type="text" value="{$vinfo.contact_phone1}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone12"  type="text" value="{$vinfo.contact_phone12}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	qq：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_qq1"  type="text" value="{$vinfo.contact_qq1}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	微信：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_wechat1"  type="text" value="{$vinfo.contact_wechat1}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
            </div>
			
			<div class="form-group row">
			  <label class="col-xs-1 col-sm-1 control-label">
                	联系人2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact2"  type="text" value="{$vinfo.contact2}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone2"  type="text" value="{$vinfo.contact_phone2}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone22"  type="text" value="{$vinfo.contact_phone22}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	qq：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_qq2"  type="text" value="{$vinfo.contact_qq2}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	微信：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_wechat2"  type="text" value="{$vinfo.contact_wechat2}"  minlength="2" maxlength="100" class="form-control" disabled />
              </div>
            </div>
			
          </div>
		  <div id="etab3" class="tab-pane fade">
		  
			<div class="form-group row">
			  
			  <label class="col-xs-1 col-sm-1 control-label">
				投放城市：
			  </label>
			  <div class="col-xs-2 col-sm-2  form-inline">
				 <select name="putin_area_ids[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" disabled >
					 <volist name="city_arr" id="info">
						 <option value="{$info.id}" {$info.select}>{$info.region_name}</option>
					 </volist>
				 </select>

			  </div>
			  <label class="col-xs-2 col-sm-2 control-label">
                	投放酒楼数量：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="putin_hotelnum"  type="text" value="{$vinfo.putin_hotelnum}"  minlength="1" maxlength="5" class="form-control" disabled />
              </div>
			  <label class="col-xs-2 col-sm-2 control-label">
                	投放版位数量：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="putin_boxnum"  type="text" value="{$vinfo.putin_boxnum}"  minlength="1" maxlength="8" class="form-control" disabled />
              </div>
			  
			</div>
			
			<div class="form-group row">
			  
			 
			  <label class="col-xs-1 col-sm-1 control-label">
                	广告时长：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="putin_advtime"  type="text" value="{$vinfo.putin_advtime}" placeholder="单位：秒" minlength="1" maxlength="10" class="form-control" disabled />
              </div>
			  <label class="col-xs-2 col-sm-2 control-label">
                	播放频次：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="putin_play_frequency"  type="text" value="{$vinfo.putin_play_frequency}"  minlength="1" maxlength="20" class="form-control" disabled />
              </div>
			  <label class="col-xs-2 col-sm-2 control-label">
                	播放总次数：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="putin_playnum"  type="text" value="{$vinfo.putin_playnum}"  minlength="1" maxlength="20" class="form-control" disabled />
              </div>
			  
			</div>
		  
			
			
		  </div>
		  
		  <div id="etab4" class="tab-pane fade">
		    <div class="form-group row">
              <label class="col-xs-1 col-sm-1 control-label">
                结算方式：
                </label>
                <div class="col-xs-2 col-sm-2">
                <select  name="settlement_type" class="form-control bs-select" title="请选择结算方式" disabled>
                  <volist name="settlement_type_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['settlement_type']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
              
            </div>
			
			<!--预付款-->
			<div class="form-group row"   <if condition="$vinfo['settlement_type'] eq '1' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>> 
				<label class="col-xs-2 col-sm-2 control-label">
                预付款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="prepayment"  type="text" value="{$info_money.prepayment}"  minlength="1" maxlength="10" class="form-control" disabled />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
                预付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.prepayment_time}">
                  <input name="prepayment_time" type="text" size="16" class="form-control date" placeholder="预付款日期" value="{$info_money.prepayment_time}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				
				
			</div>
			<!--中期结款-->
			<div class="form-group row"   <if condition="$vinfo['settlement_type'] eq '1' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
                中期结款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="medium_payment"  type="text" value="{$info_money.medium_payment}"  minlength="1" maxlength="10" class="form-control" disabled />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
                中期结款付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.medium_payment_time}">
                  <input name="medium_payment_time" type="text" size="16" class="form-control date" placeholder="预付款日期" value="{$info_money.medium_payment_time}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				
				
			</div>
			<!--尾款-->
			<div class="form-group row"   <if condition="$vinfo['settlement_type'] eq '1' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
                尾款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="tail_prepayment"  type="text" value="{$info_money.tail_prepayment}"  minlength="1" maxlength="10" class="form-control" disabled />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
                尾款付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.tail_prepayment_time}">
                  <input name="tail_prepayment_time" type="text" size="16" class="form-control date" placeholder="预付款日期" value="{$info_money.tail_prepayment_time}" disabled >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				
				
			</div>
			<div class="form-group row"  <if condition="$vinfo['settlement_type'] eq '1' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
					已付款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="f_have_pay_monye"  type="text" value="{$info_money.f_have_pay_monye}"  minlength="1" maxlength="10" class="form-control" disabled />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
					未付款金额：
				</label>
				<div class="col-xs-2 col-sm-2">
				 <input  name="f_no_pay_monye"  type="text" value="{$info_money.f_no_pay_monye}"  minlength="1" maxlength="10" class="form-control" disabled />
			    </div> 
				
				
			</div>
			
			<div class="form-group row"  <if condition="$vinfo['settlement_type'] eq '2' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>> 
				<div>
					第一批：
                </div>
				<php> for($i=0;$i<5;$i++){ </php>
				<div class="form-group row">
				  
				  <label class="col-xs-1 col-sm-2 control-label">
						商品名称{$i+1}：
				  </label>
				  <div class="col-xs-2 col-sm-2">
					<input  name="goods_name1[]"  type="text" value="{$info_goods['goods_1']['goods_name'][$i]}"  minlength="1" maxlength="10" class="form-control" disabled />
				  </div>
				  
				  <label class="col-xs-1 col-sm-1 control-label">
						数量{$i+1}：
				  </label>
				  <div class="col-xs-2 col-sm-2">
					<input  name="goods_number1[]"  type="text" value="{$info_goods['goods_1']['goods_number'][$i]}"  minlength="1" maxlength="10" class="form-control" disabled />
				  </div>
				  
				</div>
			<php>}  </php>
			</div>
			<div class="form-group row"  <if condition="$vinfo['settlement_type'] eq '2' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>> 
				<div>
					第二批：
                </div>
				<php> for($i=0;$i<5;$i++){ </php>
				<div class="form-group row">
				  
				  <label class="col-xs-1 col-sm-2 control-label">
						商品名称{$i+1}：
				  </label>
				  <div class="col-xs-2 col-sm-2">
					<input  name="goods_name2[]"  type="text" value="{$info_goods['goods_2']['goods_name'][$i]}"  minlength="2" maxlength="100" class="form-control" disabled />
				  </div>
				  
				  <label class="col-xs-1 col-sm-1 control-label">
						数量{$i+1}：
				  </label>
				  <div class="col-xs-2 col-sm-2"> 
					<input  name="goods_number2[]"  type="text" value="{$info_goods['goods_2']['goods_number'][$i]}"  minlength="1" maxlength="10" class="form-control" disabled />
				  </div>
				  
				</div>
			<php>}  </php>
			</div>
			<div class="form-group row"  <if condition="$vinfo['settlement_type'] eq '2' or $vinfo['settlement_type'] eq '3'">style="display:block;"<else />style="display:none;"</if>> 
				<div>
					第三批：
                </div>
				<php> for($i=0;$i<5;$i++){ </php>
				<div class="form-group row">
				  
				  <label class="col-xs-1 col-sm-2 control-label">
						商品名称{$i+1}：
				  </label>
				  <div class="col-xs-2 col-sm-2">
					<input  name="goods_name3[]"  type="text" value="{$info_goods['goods_3']['goods_name'][$i]}"  minlength="2" maxlength="100" class="form-control" disabled />
				  </div>
				  
				  <label class="col-xs-1 col-sm-1 control-label">
						数量{$i+1}：
				  </label>
				  <div class="col-xs-2 col-sm-2">
					<input  name="goods_number3[]"  type="text" value="{$info_goods['goods_3']['goods_number'][$i]}"  minlength="1" maxlength="10" class="form-control" disabled />
				  </div>
				  
				</div>
			<php>}  </php>
			</div>
		  
		  </div>
		  <div id="etab5" class="tab-pane fade" >
			<label class="col-xs-2 col-sm-2 control-label">
					发票类型：
                </label>
			<div class="col-xs-2 col-sm-2">
                <select id="info_invoice_type" name="info_invoice_type" class="form-control bs-select" title="请选择发票类型" disabled>
                  <volist name="invoice_type_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $info_invoice['info_invoice_type']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	税率(%)：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="info_invoice_rate"  type="text" value="{$info_invoice.info_invoice_rate}"  minlength="1" maxlength="5" class="form-control" disabled />
				
              </div>
			 <label class="col-xs-2 col-sm-1 control-label">
                	发票编号：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="info_invoice_code"  type="text" value="{$info_invoice.info_invoice_code}"  minlength="1" maxlength="50" class="form-control" disabled />
				
              </div>
		  </div>
		  
		  
		  
		</div>
		  
      </div>
    </div>
    <div class="modal-footer" style="margin-top:400px;">
      <!--<button class="btn btn-default close-m" type="button">取消</button>
	  <button class="btn btn-primary" type="submit" name="is_draft" value="1">保存草稿</button>   
      <button class="btn btn-primary" type="submit">保存</button>-->
      
    </div>
    
</div>
<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });
  
  $(function(){
    

    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })
</script>