<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
  <form method="post" action="{$host_name}/proxysale/dolinkhotel" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="id" value="{$id}">

    <div class="pageFormContent modal-body">

      <div class="form-group row">
	 <label class="col-xs-12 col-sm-2 control-label">选择商品：</label>
	 <div class="col-xs-12 col-sm-10  form-inline">
		 <select name="hotel_ids[]" class="form-control bs-select class-filter" data-live-search="true" data-container="body" multiple="multiple" >
			 <volist name="hotel_list" id="info">
				 <option value="{$info.id}" {$info.select}>{$info.name}</option>
			 </volist>
		 </select>

	 </div>
	</div>


      
      
      

            
    </div>

    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
      <button class="btn btn-primary" type="submit">保存</button>     
    </div>

  </form>
</div>