<include file="Public/script"/>
<div class="pageContent" style="height:100%;overflow: auto;background-color: #EEEEEE;">
  <form method="post" action="{$host_name}/purchase/doedit" class="pageForm -validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    
    <input type="hidden" name="id" value="{$vinfo.id}">
    <div class="pageFormContent modal-body">
      <div class="tabsContent">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab"><span>基本信息</span></a></li>
          <li class=""><a href="#tab2" data-toggle="tab"><span>企业基本信息</span></a></li>
		  <li class=""><a href="#tab3" data-toggle="tab"><span>商品基本信息</span></a></li>
		  <li class=""><a href="#tab4" data-toggle="tab"><span>结算信息</span></a></li>
		  <li class=""><a href="#tab5" data-toggle="tab"><span>发票信息</span></a></li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane active fade in">
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	合同编号：
              </label>
              <div class="col-xs-2 col-sm-2">
                
                <input name="serial_number" type="text" value="{$vinfo.serial_number}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	合同名称：
              </label>
              <div class="col-xs-2 col-sm-2">
                
                <input name="name" type="text" value="{$vinfo.name}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	签约公司：
              </label>
              <div class="col-xs-2 col-sm-5">
                <select id="company_id" name="company_id" class="form-control bs-select" title="请选择签约公司" >
                  <volist name="contract_company_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['company_id']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
              
              
            </div>
            
            <div class="form-group row">
			  <label class="col-xs-2 col-sm-1 control-label">
                	签约部门：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="sign_department" type="text" value="{$vinfo.sign_department}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	签约人：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="sign_user_id" name="sign_user_id" class="form-control bs-select" title="请选择签约人" >
                  <volist name="sign_user_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['sign_user_id']">selected</if>> {$vo.uname}</option>
                  </volist>
                </select>
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	合同类型：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="ctype" name="ctype" class="form-control bs-select" title="请选择合同类型" >
                  <volist name="contract_ctype_arr" id="vo">
                    <!--<option value="{$vo.id}" data-content='<span class="lvl">{$vo.html}</span> {$vo.shw_title}'<if condition="$vo.id eq $vinfo['shw_cid']">selected</if>> {$vo.shw_title}</option>-->
					<option value="{$vo.id}" <if condition="$vo.id eq $vinfo['ctype']">selected</if>> {$vo.name}</option>
				  </volist>
                </select>
                
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	签约城市：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="area_id" name="area_id" class="form-control bs-select" title="请选择签约城市" >
                  <volist name="city_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['area_id']">selected</if>> {$vo.region_name}</option>
                  </volist>
                </select>
                
              </div>
              
            </div>
            
            
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                签署日期：
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-ymd="true" data-date="{$vinfo.sign_time}">
                  <input name="sign_time" type="text" size="16" class="form-control date" placeholder="签署日期" value="{$vinfo.sign_time}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
              
              <label class="col-xs-2 col-sm-1 control-label">
                归档日期：
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-date="{$vinfo.archive_time}">
                  <input name="archive_time" type="text" size="16" class="form-control date" placeholder="归档日期" value="{$vinfo.archive_time}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
              
              
              <label class="col-xs-2 col-sm-1 control-label">
               合同开始日期:
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-date="{$vinfo.contract_stime}">
                  <input name="contract_stime" type="text" size="16" class="form-control date" placeholder="合同开始日期" value="{$vinfo.contract_stime}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
               合同结束日期:
              </label>
              <div class="col-xs-2 col-sm-2">
                <div class="input-group date form_date" data-date="{$vinfo.contract_etime}">
                  <input name="contract_etime" type="text" size="16" class="form-control date" placeholder="合同结束日期" value="{$vinfo.contract_etime}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
              </div>
              
            </div>
            
            
            
            
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	采购项目：
              </label>
              <div class="col-xs-2 col-sm-5">
                <input name="purchased_item" type="text" value="{$vinfo.purchased_item}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  
			  <label class="col-xs-2 col-sm-1 control-label">
                	金额：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="contract_money" type="text" value="{$vinfo.contract_money}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              
              
              
            </div>
            
            
            
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	合同签约人：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="hotel_signer" type="text" value="{$vinfo.hotel_signer}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              <label class="col-xs-2 col-sm-1 control-label">
                	电话1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="hotel_signer_phone1" type="text" value="{$vinfo.hotel_signer_phone1}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              
              <label class="col-xs-2 col-sm-1 control-label">
                	电话2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="hotel_signer_phone2" type="text" value="{$vinfo.hotel_signer_phone2}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              
            </div>
			<div class="form-group row" id="defaultpic">
			  <label class="col-xs-12 col-sm-2 control-label">
			   上传文件：
			  </label>
			  <div class="col-xs-12 col-sm-10">
			   <div class="fileinput fileinput-new" data-fileinput>
				<div class="fileinput-preview thumbnail" data-trigger="fileinput">
				 
				  <if condition="($vinfo.oss_addr eq 'NULL') OR $vinfo.oss_addr eq ''">
				   <img id="media_idimg"  src="/Public/admin/assets/img/noimage.png" border="0"/>
				   <else />
				   <a  target="_blank" href='http://{$oss_host}/{$vinfo.oss_addr}'>
				   <img id="media_idimg" src="/Public/admin/assets/img/file_logo.jpg" border="0" />
				   </a>
				  </if>
				  <span id="media_idimgname">{$vinfo.oss_name}</span>
				 
				</div>
				<div>
				 <a class="btn btn-success btn-file" data-target="#modal-file" href="{$host_name}/resource/uploadResource?filed=media_id&rtype=6" data-browse-file>
				  选择文件
				 </a>
				 <input type="hidden" name="media_id" id="media_id" value="{$vinfo.media_id}">
				 <input type="hidden" name="oss_addr" value="{$vinfo.oss_addr}">
				 <a id="bntt" href="javascript:;" class="btn btn-danger" data-remove-file="/Public/admin/assets/img/noimage.png">删除</a>
				</div>
			   </div>
			  </div>
			 </div>
			<php>
				$s_time  = strtotime($vinfo['contract_stime']." 00:00:00");
				$e_time  = strtotime($vinfo['contract_etime']." 23:59:59");
				$now_date  = time();
				if($s_time<$now_date && $e_time>now_date){
			</php>
			<div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	变更内容：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="change_content" type="text" value=""  minlength="1" maxlength="50" class="form-control" />
              </div>
			  
			  <label class="col-xs-2 col-sm-1 control-label">
                	备注：
              </label>
              <div class="col-xs-2 col-sm-6">
                <textarea name="desc" type="textInput" class="form-control">{$vinfo.desc}</textarea>
              </div>
            </div>
			<div class="form-group row">
              <label class="col-xs-3 col-sm-2 control-label">
                是否终止合同：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input type="hidden" name="is_stop" value="0">
				<input type="checkbox" value="1" class="make-switch status" name="is_stop" data-size="small" data-on-text="是" data-off-text="否" <if condition="$vinfo.status eq 4" >checked</if>>
              </div>
            </div>
			<php>
				}
			</php>
            
          </div>
          <div id="tab2" class="tab-pane fade">
            <div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	公司名称：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="company_name" type="text" value="{$vinfo.company_name}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	公司简称：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input name="company_short_name" type="text" value="{$vinfo.company_short_name}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	所属城市：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="company_area_id" name="company_area_id" class="form-control bs-select" title="请选择所属城市" >
                  <volist name="city_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['company_area_id']">selected</if>> {$vo.region_name}</option>
                  </volist>
                </select>
              </div>
            </div>
			<div class="form-group row">
              <label class="col-xs-12 col-sm-1 control-label">
                	注册地址：
              </label>
              <div class="col-xs-12 col-sm-10">
                <input name="address" type="text" value="{$vinfo.address}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  
            </div>
			<div class="form-group row">
              <label class="col-xs-2 col-sm-1 control-label">
                	企业性质：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="company_property" name="company_property" class="form-control bs-select" title="请选择企业性质">
                  <volist name="company_property_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['company_property']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	发票类型：
              </label>
              <div class="col-xs-2 col-sm-2">
                <select id="invoice_type" name="invoice_type" class="form-control bs-select" title="请选择发票类型">
                  <volist name="invoice_type_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['invoice_type']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	税率(%)：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="rate"  type="text" value="{$vinfo.rate}"  minlength="1" maxlength="5" class="form-control" />
				
              </div>
            </div>
			<div class="form-group row">
              
			  <label class="col-xs-2 col-sm-1 control-label">
                	开户名称：
              </label>
              <div class="col-xs-2 col-sm-8">
                <input  name="account_name"  type="text" value="{$vinfo.account_name}"  minlength="1" maxlength="50" class="form-control" />
				
              </div>
			  
            </div>
			<div class="form-group row">
              
			  <label class="col-xs-2 col-sm-1 control-label">
                	开户行名称：
              </label>
              <div class="col-xs-12 col-sm-8">
                <input  name="bank_name"  type="text" value="{$vinfo.bank_name}"  minlength="1" maxlength="50" class="form-control" />
				
              </div>
			  
            </div>
			<div class="form-group row">
			  <label class="col-xs-2 col-sm-1 control-label">
                	账号：
              </label>
              <div class="col-xs-2 col-sm-8">
                <input  name="bank_account"  type="text" value="{$vinfo.bank_account}"  minlength="1" maxlength="50" class="form-control" />
				
              </div>
            </div>
			
			<div class="form-group row">
			  <label class="col-xs-1 col-sm-1 control-label">
                	联系人1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact1"  type="text" value="{$vinfo.contact1}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone1"  type="text" value="{$vinfo.contact_phone1}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone12"  type="text" value="{$vinfo.contact_phone12}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	qq：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_qq1"  type="text" value="{$vinfo.contact_qq1}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	微信：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_wechat1"  type="text" value="{$vinfo.contact_wechat1}"  minlength="1" maxlength="50" class="form-control" />
              </div>
            </div>
			
			<div class="form-group row">
			  <label class="col-xs-1 col-sm-1 control-label">
                	联系人2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact2"  type="text" value="{$vinfo.contact2}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话1：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone2"  type="text" value="{$vinfo.contact_phone2}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	电话2：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_phone22"  type="text" value="{$vinfo.contact_phone22}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	qq：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_qq2"  type="text" value="{$vinfo.contact_qq2}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	微信：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="contact_wechat2"  type="text" value="{$vinfo.contact_wechat2}"  minlength="1" maxlength="50" class="form-control" />
              </div>
            </div>
			
			
            
            

          </div>
		  <div id="tab3" class="tab-pane fade">
		  
			<php> for($i=0;$i<5;$i++){ </php>
			<div class="form-group row">
			  
			  <label class="col-xs-1 col-sm-1 control-label">
                	商品名称：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="goods_name[]"  type="text" value="{$info_goods[$i]['goods_name']}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	单价：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="goods_price[]"  type="text" value="{$info_goods[$i]['goods_price']}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	数量：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="goods_number[]"  type="text" value="{$info_goods[$i]['goods_number']}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-1 col-sm-1 control-label">
                	不含税总额：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="goods_no_tax_total_money[]"  type="text" value="{$info_goods[$i]['goods_no_tax_total_money']}"  minlength="1" maxlength="50" class="form-control" />
              </div> 
			  <label class="col-xs-1 col-sm-1 control-label">
                	税额：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="goods_tax_money[]"  type="text" value="{$info_goods[$i]['goods_tax_money']}"  minlength="1" maxlength="50" class="form-control" />
              </div> 
			  <label class="col-xs-1 col-sm-1 control-label">
                	总额：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="goods_total_money[]"  type="text" value="{$info_goods[$i]['goods_total_money']}"  minlength="1" maxlength="50" class="form-control" />
              </div> 
			  
			  
			  
            </div>
			<php>}  </php>
			
		  </div>
		  
			<div id="tab4" class="tab-pane fade">
		    <div class="form-group row">
              <label class="col-xs-1 col-sm-1 control-label">
                结算方式：
                </label>
                <div class="col-xs-2 col-sm-2">
                <select id="settlement_type" name="settlement_type" class="form-control bs-select" title="请选择结算方式" >
                  <volist name="settlement_type_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $vinfo['settlement_type']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
              
            </div>
			<div class="form-group row" id="settlement_type_1" <if condition="$vinfo['settlement_type'] elt '1'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
                付款方式：
                </label>
                <div class="col-xs-2 col-sm-2">
					<select  name="pay_type" class="form-control bs-select" title="请选择付款方式" >
					  
						<option value="1" <if condition="$info_money['pay_type'] eq '1'">selected</if>> 先付款</option>
						<option value="2" <if condition="$info_money['pay_type'] eq '2'">selected</if>> 后付款</option>
					  
					</select>
				</div>
				
				
				<label class="col-xs-2 col-sm-2 control-label">
                付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.pay_time}">
                  <input name="pay_time" type="text" size="16" class="form-control date" placeholder="付款日期" value="{$info_money.pay_time}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				 
			
			</div>
			<div class="form-group row" id="settlement_type_2" <if condition="$vinfo['settlement_type'] elt '1'">style="display:block;"<else />style="display:none;"</if>>
			    
              <label class="col-xs-2 col-sm-2 control-label">
                	已付金额：
              </label>
              <div class="col-xs-2 col-sm-2">
                
                <input name="have_pay_monye" type="text" value="{$info_money.have_pay_monye}"  minlength="1" maxlength="50" class="form-control" />
              </div>
			  <label class="col-xs-2 col-sm-2 control-label">
                	未付金额：
              </label>
              <div class="col-xs-2 col-sm-2">
                
                <input name="no_pay_monye" type="text" value="{$info_money.no_pay_monye}"  minlength="1" maxlength="50" class="form-control" />
              </div>
              
              
				
			</div>
			<!--预付款-->
			<div class="form-group row"  id="settlement_type_3" <if condition="$vinfo['settlement_type'] eq '2'">style="display:block;"<else />style="display:none;"</if>> 
				<label class="col-xs-2 col-sm-2 control-label">
                预付款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="prepayment"  type="text" value="{$info_money.prepayment}"  minlength="1" maxlength="50" class="form-control" />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
                预付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.prepayment_time}">
                  <input name="prepayment_time" type="text" size="16" class="form-control date" placeholder="预付款日期" value="{$info_money.prepayment_time}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				
				
			</div>
			<!--中期结款-->
			<div class="form-group row"  id="settlement_type_4" <if condition="$vinfo['settlement_type'] eq '2'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
                中期结款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="medium_payment"  type="text" value="{$info_money.medium_payment}"  minlength="1" maxlength="50" class="form-control" />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
                中期结款付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.medium_payment_time}">
                  <input name="medium_payment_time" type="text" size="16" class="form-control date" placeholder="预付款日期" value="{$info_money.medium_payment_time}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				
				
			</div>
			<!--尾款-->
			<div class="form-group row"  id="settlement_type_5" <if condition="$vinfo['settlement_type'] eq '2'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
                尾款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="tail_prepayment"  type="text" value="{$info_money.tail_prepayment}"  minlength="1" maxlength="50" class="form-control" />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
                尾款付款日期：
				</label>
				<div class="col-xs-2 col-sm-3">
                <div class="input-group date form_date" data-date="{$info_money.tail_prepayment_time}">
                  <input name="tail_prepayment_time" type="text" size="16" class="form-control date" placeholder="预付款日期" value="{$info_money.tail_prepayment_time}" >
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success date-set" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div> 
				</div>
				
				
			</div>
			<div class="form-group row"  id="settlement_type_6" <if condition="$vinfo['settlement_type'] eq '2'">style="display:block;"<else />style="display:none;"</if>>
				<label class="col-xs-2 col-sm-2 control-label">
					已付款金额：
                </label>
			    <div class="col-xs-2 col-sm-2">
				 <input  name="f_have_pay_monye"  type="text" value="{$info_money.f_have_pay_monye}"  minlength="1" maxlength="50" class="form-control" />
			    </div> 
				<label class="col-xs-2 col-sm-2 control-label">
					未付款金额：
				</label>
				<div class="col-xs-2 col-sm-2">
				 <input  name="f_no_pay_monye"  type="text" value="{$info_money.f_no_pay_monye}"  minlength="1" maxlength="50" class="form-control" />
			    </div> 
				
				
			</div>
			
		  
		  </div>
		  
		  <div id="tab5" class="tab-pane fade" >
			<label class="col-xs-2 col-sm-2 control-label">
					发票类型：
                </label>
			<div class="col-xs-2 col-sm-2">
                <select id="info_invoice_type" name="info_invoice_type" class="form-control bs-select" title="请选择发票类型">
                  <volist name="invoice_type_arr" id="vo">
                    <option value="{$vo.id}" <if condition="$vo.id eq $info_invoice['info_invoice_type']">selected</if>> {$vo.name}</option>
                  </volist>
                </select>
              </div>
			  <label class="col-xs-2 col-sm-1 control-label">
                	税率(%)：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="info_invoice_rate"  type="text" value="{$info_invoice.info_invoice_rate}"  minlength="1" maxlength="5" class="form-control" />
				
              </div>
			 <label class="col-xs-2 col-sm-1 control-label">
                	发票编号：
              </label>
              <div class="col-xs-2 col-sm-2">
                <input  name="info_invoice_code"  type="text" value="{$info_invoice.info_invoice_code}"  minlength="1" maxlength="50" class="form-control" />
				
              </div>
		  </div>
		  
		  
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default close-m" type="button">取消</button>
	  <button class="btn btn-primary" type="submit" name="is_draft" value="1">保存草稿</button>   
      <button class="btn btn-primary" type="submit">保存</button>
      
    </div>
    
  </form>
</div>
<script type="text/javascript">

  $('.date-reset').click(function(){
    $(this).parent().prev().val('')
  });
  $('#settlement_type').change(function () {
	var settlement_type  = $('#settlement_type').val();
	if(settlement_type==1){
		$('#settlement_type_1').show()
		$('#settlement_type_2').show()
		$('#settlement_type_3').hide()
		$('#settlement_type_4').hide()
		$('#settlement_type_5').hide()
		$('#settlement_type_6').hide()
	}else if(settlement_type==2){
		$('#settlement_type_1').hide()
		$('#settlement_type_2').hide()
		$('#settlement_type_3').show()
		$('#settlement_type_4').show()
		$('#settlement_type_5').show()
		$('#settlement_type_6').show()
	}
	
  });
  $(function(){
    

    $(".form-control.date").datetimepicker({
      minView: "month", //选择日期后，不会再跳转去选择时分秒
      language:  'zh-CN',
      format: 'yyyy-mm-dd',
      todayBtn:  1,
      autoclose: 1,
    });
  })
</script>